.chat-container {
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
  }
  
  
  .chat-history {
    /* border: 1px solid #ccc; */
    border-radius: 1em;
    padding: 10px;
    margin-bottom: 10px;
    height: 300px;
    overflow-y: auto;
    background-color: #F5F5FF;
  }
  
  .chat-message {
    margin: 5px 0;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .chat-message.user {
    text-align: right;
  }
  
  .chat-message.assistant {
    text-align: left;
  }
  
  .chat-controls {
    display: flex;
    gap: 10px;
  }
  
  .chat-input {
    flex: 1;
    font-family: 'Chillax', sans-serif;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .chat-button {
    padding: 10px 20px;
    background-color: #F72FD1;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .chat-button.disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  